/* - General - */
* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;

    font-family: "Roboto", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

html, body {
    height: 100%;
    font-weight: 300;
    overflow: hidden;
}

body {
    background-color: #111111;
    color: #CCCCCC;
}

a {
    color: #FFB1B1;
}

.left {
    float: left;
}

.right {
    float: right;
}

.count {
    font-family: "Inconsolata", monospace;
}

/* - Front Title - */

#front-title {
    color: #FFB1B1;
    font-size: 7em;
    font-weight: 300;
    text-align: center;
    margin: 50px;
}

/* - Register / Login Forms - */

#form-holder {
    display: flex;
    justify-content: center;
}

.form {
    background-color: #222222;
    border: 1px solid #333333;
    box-shadow: 0 0 3px 0 #000000;
    width: 450px;
    margin: 0 20px;
    padding: 20px;
}

    .form h2 {
        font-size: 2em;
        font-weight: 300;
        margin-bottom: 20px;
        padding-bottom: 20px;
        border-bottom: 1px solid #333333;
    }

    .form label {
        display: block;
        font-size: 1.25em;
    }

    .form input {
        display: block;
        margin-bottom: 20px;
    }

    .form input[type="text"],
    .form input[type="password"],
    .form button {
        display: block;
        width: 100%;
        background-color: #181818;
        color: #CCCCCC;
        font-size: 2em;
        padding: 10px;
        border: 1px solid #333333;
        box-shadow: 0 0 3px 0 #000000 inset;
        outline: none;
    }

    .form button {
        cursor: pointer;
    }
        .form button:hover {
            background-color: #1A1A1A;
        }
        .form button:active {
            background-color: #151515;
        }

/* - Bar - */

.bar {
    width: 100%;
    background-color: #222222;
    box-shadow: 0 0 3px 0 #000000 inset;
}

    nav.bar {
        border-bottom: 1px solid #333333;
    }

    footer.bar {
        border-top: 1px solid #333333;
    }

    .bar h1 {
        font-size: 1em;
        font-weight: 300;
    }

    .bar ul {
        display: flex;
        justify-content: space-between;
        list-style-type: none;
    }

    .bar li {
        padding: 10px 20px;
    }

    .bar a {
        text-decoration: none;
    }

        .bar a:hover {
            text-decoration: underline;
        }

/* - Main Layout - */

#main-layout {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#main-area {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
    #main-area p:first-of-type {
        align-self: flex-start;
    }
    #main-area p:last-of-type {
        align-self: flex-end;
    }

#current-stitch-count {
    font-size: 15em;
    text-align: center;
}

#total-stitch-count {
    font-size: 1.1em;
}
