/* - General - */
* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;

    font-family: "Roboto", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-weight: 300;
}

html, body {
    height: 100%;
}

body {
    background-color: #111111;
    color: #CCCCCC;
}

a {
    color: inherit;
}

.left {
    float: left;
}

.right {
    float: right;
}

.count {
    font-family: "Inconsolata", monospace;
}

/* - Popup Forms - */

.popup-form {
    display: none;
    background-color: #222222;
    padding: 20px;
    border: 1px solid #333333;
    box-shadow: 0 0 3px 0 #000000;
    position: absolute;
    right: 25%;
    left: 25%;
    top: 50%;
    transform: translateY(-50%);
}

    .popup-form h2 {
        font-size: 2em;
        margin-bottom: 20px;
        padding-bottom: 20px;
        border-bottom: 1px solid #333333;
    }

    .popup-form label {
        display: block;
        font-size: 1.25em;
    }

    .popup-form input {
        display: block;
        margin-bottom: 20px;
    }

    .popup-form input[type="text"],
    .popup-form input[type="password"],
    .popup-form button {
        display: block;
        width: 100%;
        background-color: #181818;
        color: #CCCCCC;
        font-size: 2em;
        padding: 10px;
        border: 1px solid #333333;
        box-shadow: 0 0 3px 0 #000000 inset;
        outline: none;
    }

    .popup-form button {
        cursor: pointer;
    }
        .popup-form button:hover {
            background-color: #1A1A1A;
        }
        .popup-form button:active {
            background-color: #151515;
        }

/* - Bar - */

.bar {
    width: 100%;
    background-color: #222222;
    box-shadow: 0 0 3px 0 #000000 inset;
}

    nav.bar {
        border-bottom: 1px solid #333333;
    }

    footer.bar {
        border-top: 1px solid #333333;
    }

    .bar h1 {
        font-size: 1em;
    }

    .bar ul {
        overflow: auto;
    }

    .bar li {
        display: inline-block;
        padding: 10px 20px;
    }

    .bar a {
        text-decoration: none;
    }

        .bar a:hover {
            text-decoration: underline;
        }

/* - Main Layout - */

#main-layout {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#main {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
    #main p:first-of-type {
        align-self: flex-start;
    }
    #main p:last-of-type {
        align-self: flex-end;
    }

#current-stitch-count {
    font-size: 15em;
    text-align: center;
}
